.landing {
  .img {
    height: 100%;
    height: 100vh;
    position: absolute;
  }

  .title {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.8em;

    @media (min-width: $md) {
      font-size: 2em;
    }
  }

  .description {
    position: absolute;
    top: 100px;
    text-align: center;
    font-size: 1.3em;
    margin: 0 20px;
    line-height: 1.3;

    @media (min-width: $md) {
      font-size: 1.4em;
      width: 600px;
      left: calc(50% - 300px);
    }
  }

  .introduction {
    position: absolute;
    top: 300px;
    text-align: center;
    font-size: 1em;
    margin: 0 20px;
    line-height: 1.3;
    width: 100%;

    @media (min-width: $md) {
      font-size: 1.1em;
    }

    a {
      text-decoration: none;
      color: $color-primary;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
