$width-nav: 300px;

.blog-post {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .center {
    flex-grow: 1;
    width: 100%;
    position: relative;

    .sidebar {
      display: none;

      @media (min-width: $md) {
        height: 100%;
        display: block;
        position: absolute;
        width: $width-nav;
      }
    }

    .main {
      padding: 0 20px;
      overflow-y: scroll;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      @media (min-width: $md) {
        left: $width-nav;
      }
    }
  }
}
