$width-nav: 300px;

.blog-post {
  position: relative;
  height: 100vh;

  .blog-post-nav {
    display: none;

    @media (min-width: $md) {
      height: 100%;
      display: block;
      position: absolute;
      width: $width-nav;
    }
  }

  .blog-post-main {
    padding: 0 20px;
    overflow-y: scroll;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    @media (min-width: $md) {
      left: $width-nav;
    }
  }

  // blockquote {
  //   color: $color-text-light;
  //   margin-left: calc(-1 * #{$spacing-6};
  //   margin-right: $spacing-8;
  //   padding: $spacing-0 $spacing-0 $spacing-0 $spacing-6;
  //   border-left: $spacing-1 solid $color-primary;
  //   font-size: $fontSize-2;
  //   font-style: italic;
  //   margin-bottom: $spacing-8;
  // }

  // blockquote > :last-child {
  //   margin-bottom: $spacing-0;
  // }

  // blockquote > ul,
  // blockquote > ol {
  //   list-style-position: inside;
  // }

  // table {
  //   width: 100%;
  //   margin-bottom: $spacing-8;
  //   border-collapse: collapse;
  //   border-spacing: 0.25rem;
  // }

  // table thead tr th {
  //   border-bottom: 1px solid $color-accent;
  //   color: $color-primary;
  // }

  // /* Media queries */

  // @media (max-width: 42rem) {
  //   blockquote {
  //     padding: $spacing-0 $spacing-0 $spacing-0 $spacing-4;
  //     margin-left: $spacing-0;
  //   }
  //   ul,
  //   ol {
  //     list-style-position: inside;
  //   }
  // }
}
