.blog-post header h1 {
  margin: $spacing-0 $spacing-0 $spacing-4 $spacing-0;
}

.blog-post header p {
  font-size: $fontSize-2;
  font-family: $font-heading;
}

.blog-post-nav {
  display: flex;
  justify-content: space-between;

  .prev {
    padding-right: 10px;
    flex-grow: 1;
  }

  .next {
    padding-left: 10px;
    flex-grow: 1;
    text-align: end;
  }
}
