.bio {
  display: flex;
  margin-bottom: $spacing-16;
}

.bio p {
  margin-bottom: $spacing-0;
}

.bio-avatar {
  margin-right: $spacing-4;
  margin-bottom: $spacing-0;
  min-width: 50px;
  border-radius: 100%;
}
