.post-list {
  list-style: none;
  margin-left: 0;
}

.post-list-item {
  margin-bottom: $spacing-8;
  margin-top: $spacing-8;
}

.post-list-item p {
  margin-bottom: $spacing-0;
}

.post-list-item h2 {
  font-size: $fontSize-4;
  color: $color-primary;
  margin-bottom: $spacing-2;
  margin-top: $spacing-0;
}

.post-list-item header {
  margin-bottom: $spacing-4;
}

.see-more {
  cursor: pointer;
  outline: none;
}
