.previous-next-post-nav {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  max-width: 1000px;

  .prev {
    padding-right: 10px;
    flex-grow: 1;
  }

  .next {
    padding-left: 10px;
    flex-grow: 1;
    text-align: end;
  }

  a {
    text-decoration: none;
    color: $color-primary;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
