.previous-next-post-nav {
  display: flex;
  justify-content: space-between;

  .prev {
    padding-right: 10px;
    flex-grow: 1;
  }

  .next {
    padding-left: 10px;
    flex-grow: 1;
    text-align: end;
  }
}