.blog-post-article {
  margin: 0 auto;
  max-width: 1000px;

  header {
    margin-bottom: 40px;
  }

  .date {
    font-size: 1.2em;
    font-family: $font-heading;
  }

  h1 {
    margin: 15px 0 10px 0;
  }

  h4 {
    color: $color-primary;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    line-height: 1.5;

    th {
      color: $color-primary;
      border-bottom: 1px solid $color-border;
      padding: 0 3px;
    }

    td {
      padding: 0 3px;
    }
  }

  ul li {
    line-height: 1.7;
  }

  p + ul {
    margin-top: -15px;
  }

  p {
    line-height: 1.6;
  }

  hr {
    background: #d1dce5;
    height: 1px;
    border: 0;
  }

  em {
    padding: 1px 3px;
    background-color: #f0f0f0;
    font-style: normal;
    font-family: $fontFamily-mono;
  }

  a {
    text-decoration: none;
    color: $color-primary;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

// blockquote {
//   color: $color-text-light;
//   margin-left: calc(-1 * #{$spacing-6};
//   margin-right: $spacing-8;
//   padding: $spacing-0 $spacing-0 $spacing-0 $spacing-6;
//   border-left: $spacing-1 solid $color-primary;
//   font-size: $fontSize-2;
//   font-style: italic;
//   margin-bottom: $spacing-8;
// }

// blockquote > :last-child {
//   margin-bottom: $spacing-0;
// }

// blockquote > ul,
// blockquote > ol {
//   list-style-position: inside;
// }

// table {
//   width: 100%;
//   margin-bottom: $spacing-8;
//   border-collapse: collapse;
//   border-spacing: 0.25rem;
// }

// table thead tr th {
//   border-bottom: 1px solid $color-accent;
//   color: $color-primary;
// }

// /* Media queries */

// @media (max-width: 42rem) {
//   blockquote {
//     padding: $spacing-0 $spacing-0 $spacing-0 $spacing-4;
//     margin-left: $spacing-0;
//   }
//   ul,
//   ol {
//     list-style-position: inside;
//   }
// }
