/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-body;
  color: $color-text;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
  letter-spacing: -0.025em;
}

ol {
  padding-inline-start: 0;
}
